/* Footer.css */
.footer {
  background-color: var(--bg-color)
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p,
.footer li {
  font-size: 14px;
  line-height: 1.6;
}

.footer a {
  color: #fff;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #61dafb;
  text-decoration: none;
}

.footer .list-unstyled {
  padding: 0;
}

.footer .list-unstyled li {
  margin-bottom: 5px;
  list-style: none;
}

.footer .d-flex {
  display: flex;
  align-items: center;
}
